@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Legion Society takes your privacy very seriously. Unauthorized use of this contact database is strictly prohibited, and will be prosecuted to the fullest extent allowable by the law.</p>
